<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>This is Home</h2>
    <h1>Author: {{author}}</h1>
    <h1>Age: {{age}}</h1>


    <h1>{{lst}}</h1>
    <h1>{{ lst | join:" - "}}</h1>
    <h1>{{ birthday | date:"D d M Y"}}</h1>
    <h1>{{'Happy coding. Python is fun' | truncatechars:8}}</h1>

    <!-- to use conditional statement in context -->
    {% if age >= 20 %}

        <h4>You will get driving Licence</h4>

    {% elif age >= 10 and age <= 19 %}

        <h4> You will not get driving licence</h4>
    {% else %}
        <h4>You are a child</h4>
    {% endif %}
    
    <!-- FOor Loop -->

    {% for i in courses %}
    <h3>{{i.id}}</h3>
    <h2>{{i.name}}</h2>
    {% endfor %}

</body>
</html>